<div class="row">
  <div class="col l12">
    <h4>Service</h4>
    <blockquote>
      If you want to debug with backend, Please clone and run example from github.<br>
      <a href="https://github.com/jason-answer/SwaggerWcf"> WCF Demo</a>
    </blockquote>
    <hr/>
  </div>
  <div class="col l12">
    <h5><b>Jsonp Call Service</b></h5>
    <p>Use Jsonp call service.</p>
    <b>Usage</b>: <button class="btn waves-effect waves-light" type="submit" name="action" (click)="callJsonpService()">Jsonp Call Service
    <i class="material-icons left">directions_run</i>
  </button>
    <p> <b>Result</b>: {{getResult | json}}</p>
    <hr/>
  </div>
  <div class="col l12">
    <h5><b>Get Method Call Service</b></h5>
    <p>Use Get method call service.</p>
    <b>Usage</b>: <button class="btn waves-effect waves-light" type="submit" name="action" (click)="proxyGetCallService()">GetResult Service With Proxy
    <i class="material-icons left">directions_run</i>
  </button>
    <p> <b>Result</b>: {{proxyGetResult | json}}</p>
    <hr/>
  </div>
  <div class="col l12">
    <h5><b>Post Method Call Service</b></h5>
    <p>Use Post method call service.</p>
    <b>Usage</b>: <button class="btn waves-effect waves-light" type="submit" name="action" (click)="proxyPostCallService()">PostResult Service With Proxy
    <i class="material-icons left">directions_run</i>
  </button>
    <p> <b>Result</b>: {{proxyPostResult | json}}
    </p>
    <hr/>
  </div>
 
</div>